<!-- Call to actions -->
{{ with site.GetPage "sections/call-to-action" }}
  {{ if .Params.enable }}
    <section class="pt-7 mb-28">
      <div class="container border-dotted border-4 hover:border-dotted">
        <div
          class="rounded-xl px-4 py-8">
          <div class="row items-center justify-between">
            <div>
              <h2 class="mb-2">
                {{ .Title | markdownify }}
              </h2>
              <p class="mb-6">
                {{ .Params.description | markdownify }}
              </p>
              {{ with .Params.button }}
                {{ if .enable }}
                  <a class="btn btn-primary" href="{{ .link | absURL }}">
                    {{ .label }}
                  </a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
<!-- /Call to actions -->
