{{ $cta := "Try our focused free **20 minute** call now" }}
{{ $button_label := "Call now" }}
{{ $button_href := "/call/" }}

<section class="section cta py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        <h3 class="title fs-1 fw-bold text-center text-primary pb-3">{{ $cta | markdownify}}</h3>
      </div>
    </div>
    {{/* <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        {{ with .content.image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
      </div>
    </div> */}}
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        <a class="btn btn-outline-primary px-4" href="{{ $button_href }}">{{ $button_label }}<span class="ms-2">{{
            partial "icons/arrow-right.html" }}</span></a>
      </div>
    </div>
  </div>
</section>